*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}

header{
    position:sticky;
    top: 0;
    display: flex;
    z-index: 3;
    padding-bottom: 0;
}
#logo{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 8rem;
}
header img{
    height: 6rem;
}
header ul{
    list-style: none;
    padding: .4rem;
    background-color: #206351;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    column-gap: 14rem;
    margin-bottom: 0;
}
header li{
    padding: 0.2rem;
    font-size: 1.1rem;
}
header a{
    text-decoration: none;
    color: #fff;
}
header a:hover{
    color: #fff;
    font-weight: bold;
    font-size: larger;
    transition-property: all; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in;
}
#activities-section{
    width: 100%;
    height: auto;
    overflow: auto;
}
.flex-container1{
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    background-color: #BFE3D3;
    
}

.flex-item1{
    text-align: center;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0px 0px ;
    height: auto;
    overflow: auto;
    width: auto;
    font-weight: bold;
    color: #206351;   
}

.info button{
    border: none;
    background-color: #206351;
    border-radius: 5px;
    padding: .5rem;
    margin-top: 1rem
}
.flex-image{
    padding: 0rem 0rem 0rem 0rem;
    height: auto;
    width: auto;
    background-color: #BFE3D3;
    overflow: auto;
    align-items: center;
    align-self: flex-end;
}
.desarrollo{
    align-items: flex-start;
    padding: 1%;
    background-color: #BFE3D3;
}

.explicar{
     margin: 1px;
     padding: 4px 0px 4px 10px;
     color: #206351; 
}

.link_1{
    border: 5px solid #206351;
    align-items: center;
    background-color: #BFE3D3;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}
#curso_1{
    margin-bottom: 16%;
}
#curso_2{
    margin-bottom: 18%;
}

#curso_3{
    margin-bottom: 18%;
}
main a{
    text-decoration: none;
    color: #FFF;
    font-size: larger;
}

main a:hover{
    font-weight: bold;
    font-size: medium;
}
.volver button{
    border: none;
    background-color: #206351;
    border-radius: 5px;
    padding: .5rem;
    margin-top: 1rem
}


footer{
    background-color: #206351;
    padding: 2rem;
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 30;
    padding-bottom: 0;
}

footer h4{
    text-align: center;
    color:#fff;
    margin-bottom: 1rem;
}
footer nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer a{
    color:#fff;
    text-decoration: none;
    padding: .3rem;
}
footer a:hover{
    font-size: larger;
    font-weight: bold;
    transition-property: all; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in;
}
.fa-brands{
    font-size: 1.5rem;
    padding: 0 .5rem;
}



@media screen  and (min-width:540px){
    header{
        display: block;
    }
    header ul{
        height: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap:normal;
    }
    header img{
        height: 7rem;
    }
    #logo{
        height: 9rem;
    }
}
