* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}
header{
    position: sticky;
    top: 0;
    display: flex;
    z-index: 3;
    padding-bottom: 0;
}
#logo{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 8rem;
}
header img{
    height: 6rem;
}
header ul{
    list-style: none;
    padding: .4rem;
    background-color: #206351;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    column-gap: 14rem;
    margin-bottom: 0;
}
header li{
    padding: 0.2rem;
    font-size: 1.1rem;
}
header a{
    text-decoration: none;
    color: #fff;
}
header a:hover{
    color: #fff;
    font-weight: bold;
    font-size: larger;
    transition-property: all; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in;
}
#encabezado{
    color: #206351;
    margin: 1rem;
    padding: 1rem;
}
#encabezado p{
    margin-top: 1rem;
}
#materiales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#materiales article{
    text-align: center;
    margin: .5rem;
    padding: 1rem;
    width: 20%;
    min-width: 18rem;
}
#materiales img{
    height: 15rem;
}
#materiales img:hover{
    height:16rem;
    transition-property: all; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in;
}
footer{
    background-color: #206351;
    padding: 2rem;
    margin-top: 1rem;
}
footer h4{
    text-align: center;
    color:#fff;
    margin-bottom: 1rem;
}
footer nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer a{
    color:#fff;
    text-decoration: none;
    padding: .3rem;
}
footer a:hover{
    font-size: larger;
    font-weight: bold;
    transition-property: all; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in;
}
.fa-brands{
    font-size: 1.5rem;
    padding: 0 .5rem;
}



@media screen  and (min-width:540px){
    header{
        display: block;
    }
    header ul{
        height: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap:normal;
    }
    header img{
        height: 7rem;
    }
    #logo{
        height: 9rem;
    }
}